.cards{
    overflow-y:auto;
    overflow-x:hidden;
    max-height:24rem;
}

.card{
    width:18rem !important;
    margin-bottom: 0.5em;
}

.img-wraps {
    position: relative;
    display: inline-block;

    font-size: 0;
}
.img-wraps .closes {
    position: absolute;
    top: 5px;
    right: 8px;
    z-index: 100;
    background-color: #FFF;
    padding: 8px 6px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    font-size: 22px;
    line-height: 10px;
    border-radius: 50%;
    border: 1px solid lightgray;
    text-decoration: none;
}
.img-wraps:hover .closes {
    opacity: 1;
}
